.content-wrapp {
    min-height: 678px;
    background-color: #ecf0f5;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    z-index: 820;
}

.main-footer {
    max-height: 100px;
    text-align: center;
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 0px;
    z-index: 820;
}